In [1]:
import pandas as pd

In [2]:
date_dict = {
    "data_padrao": ["2021-07-02 19:07", "2020-01-31 15:00", "2013-09-09 08:00"],
    "data_formato_br": ["21/09/1995 10:00", "10/12/2001 08:57", "01/01/2000 00:01"]
}

In [3]:
df = pd.DataFrame(date_dict)

In [4]:
df

        data_padrao   data_formato_br
0  2021-07-02 19:07  21/09/1995 10:00
1  2020-01-31 15:00  10/12/2001 08:57
2  2013-09-09 08:00  01/01/2000 00:01

# Convertendo texto para data

In [5]:
df.dtypes

data_padrao        object
data_formato_br    object
dtype: object

In [6]:
df["data_padrao"] = pd.to_datetime(df["data_padrao"])

In [7]:
df

          data_padrao   data_formato_br
0 2021-07-02 19:07:00  21/09/1995 10:00
1 2020-01-31 15:00:00  10/12/2001 08:57
2 2013-09-09 08:00:00  01/01/2000 00:01

In [8]:
formato = '%d/%m/%Y %H:%M'
df["data_formato_br"] = pd.to_datetime(df["data_formato_br"], format=formato)

In [9]:
df

          data_padrao     data_formato_br
0 2021-07-02 19:07:00 1995-09-21 10:00:00
1 2020-01-31 15:00:00 2001-12-10 08:57:00
2 2013-09-09 08:00:00 2000-01-01 00:01:00

In [10]:
df.dtypes

data_padrao        datetime64[ns]
data_formato_br    datetime64[ns]
dtype: object