In [1]:
import pandas as pd
from glob import glob

# Manual

In [2]:
df1 = pd.read_csv("./data/my_data01.csv")
df2 = pd.read_csv("./data/my_data02.csv")

In [3]:
df_all = pd.concat([df1, df2])

In [5]:
df_all.to_csv("data_all.csv")

# Autom√°tica

In [7]:
df_all_auto = pd.DataFrame(None)

for filename in glob("./data/*.csv"):
    df = pd.read_csv(filename)
    
    df_all_auto = pd.concat([df_all_auto, df])

In [8]:
df_all_auto

   id     name  age
0   1  MATHEUS   25
1   2    JULIA    2
2   3    PEDRO    4
3   4    MARIA    5
0   5    PAULO    7
1   6   CAMILA    9
2   7   JUNIOR   15