# Bibliotecas e módulos

In [3]:
import pandas as pd
import numpy as np

# Carregando dataset

In [5]:
data_dict = {
    'col1': [7, 8, 5, 10],
    'col2': [2, 9, 5, -100]
}

df = pd.DataFrame(data_dict)
df

   col1  col2
0     7     2
1     8     9
2     5     5
3    10  -100

# Trabalhando com condicionais

## Duas condições

In [7]:
df['cond1'] = np.where(
    df['col1'] > df['col2'],
    df['col1'] + df['col2'],
    df['col1'] - df['col2']
)

In [8]:
df

   col1  col2  cond1
0     7     2      9
1     8     9     -1
2     5     5      0
3    10  -100    -90

## Múltiplas condições com np.where

In [9]:
multi_cond = np.where(
    df['col1'] == df['col2'],
    df['col1'] * df['col2'],
    np.where(
        df['col1'] > df['col2'],
        df['col1'] + df['col2'],
        df['col1'] - df['col2']
    )
)

df['cond2'] = multi_cond

In [10]:
df

   col1  col2  cond1  cond2
0     7     2      9      9
1     8     9     -1     -1
2     5     5      0     25
3    10  -100    -90    -90

## Múltiplas condições com np.select

In [12]:
condicoes = [
    df['col2'] < 0,
    df['col1'] == df['col2'],
    df['col1'] > df['col2']
]

resultados = [
    df['col2'] * -1,
    df['col1'] * df['col2'],
    df['col1'] + df['col2']
]

df['col_select'] = np.select(condicoes, resultados, df['col1'] - df['col2'])
df

   col1  col2  cond1  cond2  col_select
0     7     2      9      9           9
1     8     9     -1     -1          -1
2     5     5      0     25          25
3    10  -100    -90    -90         100